#java specific
*.class

#netbeans ignore personal stuff

project-root-directory/
+ nbproject/
  build-impl.xml
  + private/
  + project.properties
  + project.xml
+ build.xml

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Package Files #
*.jar
*.war
*.ear
/web/index.html
/src/java/NewServlet.java
/build/
