<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>DARE-THINK: Media_Author</display-name>
    <servlet>
        <servlet-name>InsertAuthor</servlet-name>
        <servlet-class>servlets.InsertAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAuthor</servlet-name>
        <servlet-class>servlets.DeleteAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRegion</servlet-name>
        <servlet-class>servlets.DeleteRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCountry</servlet-name>
        <servlet-class>servlets.DeleteCountry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSpeciality</servlet-name>
        <servlet-class>servlets.DeleteSpeciality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>app1conn</servlet-name>
        <servlet-class>app1conn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRegion</servlet-name>
        <servlet-class>servlets.InsertRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCountry</servlet-name>
        <servlet-class>servlets.InsertCountry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSpeciality</servlet-name>
        <servlet-class>servlets.InsertSpeciality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTheme</servlet-name>
        <servlet-class>servlets.InsertTheme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertMedia</servlet-name>
        <servlet-class>servlets.InsertMedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAuthor</servlet-name>
        <servlet-class>servlets.EditAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCountry</servlet-name>
        <servlet-class>servlets.EditCountry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRegion</servlet-name>
        <servlet-class>servlets.EditRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSpeciality</servlet-name>
        <servlet-class>servlets.EditSpeciality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedia</servlet-name>
        <servlet-class>servlets.EditMedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedia</servlet-name>
        <servlet-class>servlets.DeleteMedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTheme</servlet-name>
        <servlet-class>servlets.EditTheme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTheme</servlet-name>
        <servlet-class>servlets.DeleteTheme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>app1conn</servlet-name>
        <url-pattern>/app1conn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRegion</servlet-name>
        <url-pattern>/InsertRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCountry</servlet-name>
        <url-pattern>/InsertCountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSpeciality</servlet-name>
        <url-pattern>/InsertSpeciality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTheme</servlet-name>
        <url-pattern>/InsertTheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertMedia</servlet-name>
        <url-pattern>/InsertMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAuthor</servlet-name>
        <url-pattern>/InsertAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAuthor</servlet-name>
        <url-pattern>/DeleteAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCountry</servlet-name>
        <url-pattern>/DeleteCountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRegion</servlet-name>
        <url-pattern>/DeleteRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSpeciality</servlet-name>
        <url-pattern>/DeleteSpeciality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAuthor</servlet-name>
        <url-pattern>/EditAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedia</servlet-name>
        <url-pattern>/EditMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSpeciality</servlet-name>
        <url-pattern>/EditSpeciality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCountry</servlet-name>
        <url-pattern>/EditCountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRegion</servlet-name>
        <url-pattern>/EditRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedia</servlet-name>
        <url-pattern>/DeleteMedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTheme</servlet-name>
        <url-pattern>/EditTheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTheme</servlet-name>
        <url-pattern>/DeleteTheme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRegion</servlet-name>
        <url-pattern>/DeleteRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCountry</servlet-name>
        <url-pattern>/DeleteCountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSpeciality</servlet-name>
        <url-pattern>/DeleteSpeciality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCountry</servlet-name>
        <url-pattern>/EditCountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRegion</servlet-name>
        <url-pattern>/EditRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSpeciality</servlet-name>
        <url-pattern>/EditSpeciality</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
